
.Rproj.user/A0CBB8A6/pcs/files-pane.pper
.Rproj.user/A0CBB8A6/pcs/source-pane.pper
.Rproj.user/A0CBB8A6/pcs/windowlayoutstate.pper
.Rproj.user/A0CBB8A6/pcs/workbench-pane.pper
.Rproj.user/A0CBB8A6/rmd-outputs
.Rproj.user/A0CBB8A6/saved_source_markers
.Rproj.user/A0CBB8A6/sources/prop/205DD594
.Rproj.user/A0CBB8A6/sources/prop/C0B8A679
.Rproj.user/A0CBB8A6/sources/prop/INDEX
.Rproj.user/A0CBB8A6/sources/s-07C05B25/3B483F2D-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/661A92B0-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/7A05F64B-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/7B6630D1
.Rproj.user/A0CBB8A6/sources/s-07C05B25/7B6630D1-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/88A765D5-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/9189A66D-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/A0F041A0-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/AE1DD6EC-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/C2D5EF30-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/C96E66B4
.Rproj.user/A0CBB8A6/sources/s-07C05B25/C96E66B4-contents
.Rproj.user/A0CBB8A6/sources/s-07C05B25/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
Poll_Seed-disp_Multilayer_Patagonia.Rproj
